<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
           <!-- Axentix CSS minified version -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.2.1/dist/css/axentix.min.css">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        <!-- Axentix JS minified version -->
        <script src="https://cdn.jsdelivr.net/npm/axentix@1.2.1/dist/js/axentix.min.js"></script> 
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <header>
      <nav class="navbar shadow-1 primary">
        <a href="{{ path('app_home')}} " class="navbar-brand">Dramatheque</a>
        <div class="navbar-menu ml-auto">
          <a class="navbar-link" href="#">Accueil</a>
          <a class="navbar-link" href="#">K-dramas</a>
          <a class="navbar-link" href="#">K-movies</a>
          <a class="navbar-link" href="#">Link 4</a>
        </div>
      </nav>
    </header>

    <main>
        {% block body %}{% endblock %}    
    </main>
    <script src="{{asset('js/script.js')}}">
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js" defer></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" defer></script> 
    <script src="{{asset('js/app.js')}}" defer></script>
    <footer class="footer primary">
      Copyright © 2021 - Example
    </footer>
    </body>
</html>
